<div class="content-body">
<h1 class="audioAp">Audio App</h1>
<ul class="currentTime">
  <button class="listItem" *ngFor="let file of files" (click)="openFile(file.ul)">{{file.name}}

  </button>
</ul>
<div class="currentTime">
  <span>{{currentTime}}</span>
  <input type="range" min="0" max="{{duration}}" [value]="seek"  >
  <span>{{duration}}</span>
</div>
<div class="currentTime">
  <span>volume</span>
  <input type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)" >
</div>
<div class="currentTime">
  <button  class="playButton"  (click)="play()">Play</button>
  <button class="pButton" (click)="pause()">Pause</button>
  <button class="pButton" (click)="stop()">Stop</button>
  </div>
</div>